#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&trackball {
    arrows {
        layers = <2>;
        bindings = <&kp DEL>, <&kp BSPC>, <&kp LS(UP)>, <&kp LS(DOWN)>;

        wait-ms = <5>;
        tap-ms = <5>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        c_boot {
            bindings = <&bootloader>;
            key-positions = <9 8 7 6 40>;
        };

        c_sft {
            bindings = <&kp LSHIFT>;
            key-positions = <39 40>;
            timeout-ms = <30>;
        };

        c_alt {
            bindings = <&kp LALT>;
            key-positions = <12 11>;
            timeout-ms = <30>;
        };

        c_bspc {
            bindings = <&kp BSPC>;
            key-positions = <19 20>;
            timeout-ms = <30>;
            require-prior-idle-ms = <30>;
        };

        c_esc {
            bindings = <&kp ESC>;
            key-positions = <18 20>;
        };

        c_lang {
            bindings = <&kp LG(SPACE)>;
            key-positions = <10 21>;
        };

        c_lbkt {
            key-positions = <2 3>;
            bindings = <&kp LBKT>;
            timeout-ms = <30>;
        };

        c_rbkt {
            key-positions = <6 7>;
            bindings = <&kp RBKT>;
            timeout-ms = <30>;
        };

        c_lpar {
            key-positions = <12 13>;
            bindings = <&kp LPAR>;
            timeout-ms = <30>;
        };

        c_rpar {
            key-positions = <19 18>;
            bindings = <&kp RPAR>;
            timeout-ms = <30>;
        };

        c_lbrc {
            key-positions = <24 25>;
            bindings = <&kp LBRC>;
            timeout-ms = <30>;
        };

        c_rbrc {
            key-positions = <30 31>;
            bindings = <&kp RBRC>;
            timeout-ms = <30>;
        };
    };

    behaviors {
        // タップで英数、ダブルタップでかな

        td_enjp: td_enjp {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ENJP";
            #binding-cells = <0>;
            tapping-term-ms = <275>;
            bindings = <&kp LANG2>, <&kp LANG1>;
        };

        // 長押しGUI、タップで英数かな切り替え

        gui_en: gui_en {
            compatible = "zmk,behavior-hold-tap";
            label = "GUI_EN";
            #binding-cells = <2>;
            tapping-term-ms = <130>;
            flavor = "balanced";
            hold-trigger-on-release;
            bindings = <&kp>, <&td_enjp>;
        };

        // 一般的なHold-Tap (Hold: Modifier, Tap: Key)

        hm: hm {
            compatible = "zmk,behavior-hold-tap";
            label = "HM";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        };

        // 一般的なLayer-Tap (Hold: Layer, Tap: Key)

        lt_k: lt_k {
            compatible = "zmk,behavior-hold-tap";
            label = "LT_K";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "hold-preferred";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        // スペース用Hold-Tap

        st: st {
            compatible = "zmk,behavior-hold-tap";
            label = "ST";
            #binding-cells = <2>;
            tapping-term-ms = <195>;
            quick-tap-ms = <180>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // Ctrl併用時に単語削除(Alt+BS)化

        bs_m: bs_m {
            compatible = "zmk,behavior-mod-morph";
            label = "BS_M";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp LA(BSPC)>;

            mods = <(MOD_LCTL)>;
        };

        // 右親指用：長押しLayer 1、タップBSPC（Ctrl時は単語削除）、連打長押しでLayer優先

        l1_bs: l1_bs {
            compatible = "zmk,behavior-hold-tap";
            label = "L1_BS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            flavor = "hold-preferred";
            quick-tap-ms = <0>; // 連打時のBS長押しを禁止
            bindings = <&mo>, <&bs_m>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W      &kp E      &kp R      &kp T                                              &kp Y       &kp U  &kp I      &kp O       &kp P
&kp A           &kp S      &kp D      &kp F      &kp G           &mkp MB1              &kp BSPC     &kp H       &kp J  &kp K      &kp L       &kp Z
&hm LSHIFT TAB  &kp X      &kp C      &kp V      &kp B           &mo 5                 &kp TAB      &kp N       &kp M  &kp COMMA  &kp PERIOD  &hm EQUAL RSHIFT
&kp LALT        &kp MINUS  &kp EQUAL  &kp LCTRL  &gui_en LGUI 0  &st LSHIFT SPACE      &lt_k 2 RET  &l1_bs 1 0                                &kp TAB
            >;
        };

        ARROW {
            bindings = <
&kp N1     &kp N2   &kp N3    &kp N4     &kp N5                         &kp N6     &kp N7     &kp N8  &kp N9     &kp N0
&kp MINUS  &kp SQT  &kp BSLH  &kp SLASH  &kp GRAVE  &trans      &trans  &kp LEFT   &kp DOWN   &kp UP  &kp RIGHT  &trans
&trans     &trans   &trans    &trans     &trans     &trans      &trans  &kp EQUAL  &kp MINUS  &trans  &trans     &trans
&trans     &trans   &trans    &trans     &trans     &trans      &trans  &trans                                   &trans
            >;
        };

        NUM {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &trans                              &kp ASTRK  &kp N7  &kp N8  &kp N9  &kp N0
&kp F5  &kp F6   &kp F7   &kp F8   &kp LS(LG(N4))  &trans      &trans  &kp DOT    &kp N4  &kp N5  &kp N6  &trans
&kp F9  &kp F10  &kp F11  &kp F12  &kp LS(LG(N5))  &trans      &trans  &kp SLASH  &kp N1  &kp N2  &kp N3  &trans
&trans  &trans   &trans   &trans   &trans          &trans      &trans  &trans                             &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB2  &mkp MB1  &mo 4   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans     &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans     &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp LG(W)  &kp LG(LEFT)                          &trans
            >;
        };

        layer_5 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &trans  &trans                              &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &bt BT_CLR_ALL      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &trans              &trans  &trans                          &trans
            >;
        };
    };
};
