#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&trackball {
    arrows {
        layers = <2>;
        bindings = <&kp DEL>, <&kp BSPC>, <&kp LS(UP)>, <&kp LS(DOWN)>;
        wait-ms = <5>;
        tap-ms = <5>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // --- システム・基本操作 ---
        boot {
            bindings = <&bootloader>;
            key-positions = <9 8 7 6 40>;
        };

        ashift {
            bindings = <&kp LSHIFT>;
            key-positions = <39 40>;
            timeout-ms = <60>;
        };

        alt {
            bindings = <&kp LALT>;
            key-positions = <12 11>;
            timeout-ms = <80>;
        };

        bspc {
            bindings = <&kp BSPC>;
            key-positions = <19 20>;
        };

        lang2 {
            bindings = <&kp LANG2>;
            key-positions = <13 12>;
        };

        lang1 {
            bindings = <&kp LANG1>;
            key-positions = <19 18>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <18 20>;
        };

        bspc1 {
            bindings = <&kp BSPC>;
            key-positions = <13 18>;
        };

        // --- カッコ類のコンボ配置 (提案2) ---
        // 左手上段(E R) -> [  | 右手上段(U I) -> ]
        combo_lbkt {
            timeout-ms = <30>;
            key-positions = <2 3>; 
            bindings = <&kp LBKT>;
        };
        combo_rbkt {
            timeout-ms = <30>;
            key-positions = <6 7>; 
            bindings = <&kp RBKT>;
        };

        // 左手ホーム(D F) -> (  | 右手ホーム(J K) -> )
        combo_lpar {
            timeout-ms = <30>;
            key-positions = <12 13>; 
            bindings = <&kp LPAR>;
        };
        combo_rpar {
            timeout-ms = <30>;
            key-positions = <16 17>; 
            bindings = <&kp RPAR>;
        };

        // 左手下段(C V) -> {  | 右手下段(M ,) -> }
        combo_lbrc {
            timeout-ms = <30>;
            key-positions = <22 23>; 
            bindings = <&kp LBRC>;
        };
        combo_rbrc {
            timeout-ms = <30>;
            key-positions = <27 28>; 
            bindings = <&kp RBRC>;
        };
    };

    behaviors {
        kth: kth {
            compatible = "zmk,behavior-hold-tap";
            label = "KTH";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            bindings = <&kp>, <&kp>;
            flavor = "hold-preferred";
        };

        lth: lth {
            compatible = "zmk,behavior-hold-tap";
            label = "LTH";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            bindings = <&mo>, <&kp>;
            flavor = "hold-preferred";
        };

        ssh: ssh {
            compatible = "zmk,behavior-hold-tap";
            label = "SSH";
            #binding-cells = <2>;
            tapping-term-ms = <195>;
            quick-tap-ms = <180>;
            require-prior-idle-ms = <100>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W     &kp E      &kp R      &kp T                                               &kp Y         &kp U  &kp I      &kp O       &kp P
&kp A       &kp S     &kp D      &kp F      &kp G            &mkp MB1               &kp BSPC    &kp H         &kp J  &kp K      &kp L       &kth RSHFT MINUS
&kp Z       &kp X     &kp C      &kp V      &kp B            &mo 5                  &kp TAB     &kp N         &kp M  &kp COMMA  &kp PERIOD  &kp BSPC
&kp LSHIFT  &kp LALT  &kp LCTRL  &kp LCTRL  &kth LGUI LANG2  &ssh LSHIFT SPACE      &lth 2 RET  &lth 1 LANG1                                &kp TAB
            >;
        };

        ARROW {
            bindings = <
&kp N1     &kp N2    &kp N3    &kp N4    &kp N5                        &kp N6     &kp N7    &kp N8  &kp N9     &kp N0
&kp SLASH  &kp SEMI  &trans    &trans    &kp BSLH  &trans      &trans  &kp LEFT   &kp DOWN  &kp UP  &kp RIGHT  &kth RSHFT EQUAL
&trans     &trans    &trans    &trans    &trans    &trans      &trans  &kp GRAVE  &kp SQT   &trans  &trans     &trans
&trans     &trans    &trans    &trans    &trans    &trans      &trans  &trans                                  &trans
            >;
        };

        NUM {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &trans                              &kp ASTRK  &kp N7  &kp N8  &kp N9  &kp N0
&kp F5  &kp F6   &kp F7   &kp F8   &kp LS(LG(N4))  &trans      &trans  &kp DOT    &kp N4  &kp N5  &kp N6  &trans
&kp F9  &kp F10  &kp F11  &kp F12  &kp LS(LG(N5))  &trans      &trans  &kp SLASH  &kp N1  &kp N2  &kp N3  &trans
&trans  &trans   &trans   &trans   &trans          &trans      &trans  &trans                             &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB2  &mkp MB1  &mo 4   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                         &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans     &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans     &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp LG(W)  &kp LG(LEFT)                          &trans
            >;
        };

        layer_5 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &trans  &trans                              &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &bt BT_CLR_ALL      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans  &trans  &trans              &trans  &trans                          &trans
            >;
        };
    };
};