#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// &mt {
//     flavor = "balanced";
//     quick-tap-ms = <0>;
// };

&trackball {
    // automouse-layer = <4>;
    // scroll-layers = <5>;
    // arrows {
    //     layers = <6>;
    //     bindings =
    //         <&kp LS(RIGHT)>,
    //         <&kp LS(LEFT)>,
    //         <&kp LS(UP)>,
    //         <&kp LS(DOWN)>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };

    arrows {
        layers = <6>;
        bindings =
            <&kp LC(LEFT)>,
            <&kp LC(RIGHT)>,
            <&kp LC(UP)>,
            <&kp LC(DOWN)>;

        tick = <230>;
        wait-ms = <5>;
        tap-ms = <0>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        boot {
            bindings = <&bootloader>;
            key-positions = <27 15 16 28>;
        };

        scroll {
            bindings = <&mo 6>;
            key-positions = <12 11>;
        };

        lshift {
            bindings = <&kp LSHFT>;
            key-positions = <13 12>;
        };

        rshift {
            bindings = <&kp RSHIFT>;
            key-positions = <18 19>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        kth: kth {
            compatible = "zmk,behavior-hold-tap";
            label = "KTH";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
        };

        lth: lth {
            compatible = "zmk,behavior-hold-tap";
            label = "LTH";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";

            // hold-while-undecided;
        };

        // Space-Shift用：変換（タップ）の反応速度を最優先する仮説

        ssh: ssh {
            compatible = "zmk,behavior-hold-tap";
            label = "SSH"; // 仮説：スペースは即答すべき
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // 判定時間を少しだけ伸ばして誤爆を防ぐ
            quick-tap-ms = <200>;       // 連続スペースは即入力
            bindings = <&kp>, <&kp>;

            flavor = "balanced";        // 別のキーが押されたら即座に挙動を確定
            retro-tap;                  // 判定時間経過後に離しても、何も押してなければタップとみなす
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W         &kp E             &kp R  &kp T                                                &kp Y         &kp U  &kp I      &kp O       &kp P
&kp A       &kp S         &kp D             &kp F  &kp G            &kp LEFT_CONTROL      &kp MINUS     &kp H         &kp J  &kp K      &kp L       &kp MINUS
&kp Z       &kp X         &kp C             &kp V  &kp B            &mo 7                 &kp EQUAL     &kp N         &kp M  &kp COMMA  &kp PERIOD  &kp EQUAL
&kp LSHIFT  &kp LEFT_ALT  &kp LEFT_CONTROL  &mo 2  &kth LGUI LANG2  &kp SPACE             &lth 6 ENTER  &lth 1 LANG1                                &mt RSHIFT GRAVE
            >;
        };

        ARROW {
            bindings = <
&trans     &trans        &kp LC(UP)    &trans         &trans                      &kp LS(TAB)        &kp TAB   &kp UP    &kp BACKSPACE  &kp ESC
&kp LA(F)  &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(RIGHT)  &trans  &trans      &trans  &kp LA(LG(LEFT))   &kp LEFT  &kp DOWN  &kp RIGHT      &kp LA(LG(RIGHT))
&trans     &trans        &trans        &trans         &trans  &trans      &trans  &kp LG(LA(RIGHT))  &kp LPAR  &kp RPAR  &kp LBKT       &kp RBKT
&trans     &trans        &trans        &trans         &trans  &trans      &trans  &trans                                                &trans
            >;
        };

        NUM {
            bindings = <
&kp F1  &kp F2   &kp F3   &kp F4   &trans                              &kp SLASH   &kp N7  &kp N8  &kp N9  &kp N0
&kp F5  &kp F6   &kp F7   &kp F8   &kp LS(LG(N4))  &trans      &trans  &kp PERIOD  &kp N4  &kp N5  &kp N6  &trans
&kp F9  &kp F10  &kp F11  &kp F12  &kp LS(LG(N5))  &trans      &trans  &kp COMMA   &kp N1  &kp N2  &kp N3  &trans
&trans  &trans   &trans   &trans   &trans          &trans      &trans  &trans                              &trans
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &kp LS(TAB)   &kp LA(UP)    &kp LA(BACKSPACE)  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(RIGHT)      &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans        &trans        &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                 &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                        &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &mo 5   &mkp MB1  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &mkp MB1      &trans  &trans                              &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans        &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp LG(LEFT)                          &trans
            >;
        };

        layer_6 {
            bindings = <
&kp N1        &kp N2  &kp N3    &kp N4    &kp N5                         &kp N6         &kp N7     &kp N8     &kp N9    &kp N0
&kp EXCL      &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &trans      &trans  &kp CARET      &kp AMPS   &kp ASTRK  &kp SEMI  &kp SINGLE_QUOTE
&kp QUESTION  &trans  &trans    &trans    &trans     &trans      &trans  &kp BACKSLASH  &kp SLASH  &trans     &trans    &trans
&trans        &trans  &trans    &trans    &trans     &trans      &trans  &trans                                         &trans
            >;
        };

        layer_7 {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        function {
            if-layers = <1 2>;
            then-layer = <3>;
        };

        sp {
            if-layers = <2 6>;
            then-layer = <7>;
        };
    };
};
